h1 {
    background-color: orange;
    color: white;
    text-align: center;
}

h2 {
    background-color: green;
    color: white;
    text-align: center;
}

h3 {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-family: arial black;
}